/* Media query for smaller screens */
@media (max-width: 820px) {
  .places h1 {
    margin-left: 22px;
  }

  .place_cards {
    margin-left: -20px;
  }

  .place_cards article {
    width: 320px;
    margin: 20px 15px;
  }

  .places .information .max_guest,
  .places .information .number_rooms,
  .places .information .number_bathrooms {
    margin: 20px 5px;
  }
}

@media (max-width: 768px) {
  .places h1 {
    margin-left: 22px;
  }

  .place_cards article {
    width: 300px;
    margin: 20px 10px;
  }

  .place_cards .place-title h2 {
    font-size: 25px;
    text-align: center;
    margin-left: 60px;
  }
}

/* Media query for even smaller screens, e.g., mobile */
@media (max-width: 480px) {
  .place_cards {
    margin-left: 5px;
  }

  .place_cards article {
    width: 80%;
    margin: 20px 0px;
  }
}
